<h1>Support Requests</h1>

<hr>
<ul>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Message</th>
    <th>Action</th>
    <th colspan="2"></th>
  </tr>
 
  <% @support_forms.each do |support_form| %>
    <tr>
      <td><%= support_form.name %></td>
      <td><%= mail_to support_form.email %></td>
      <td><%= support_form.department %></td>
      <td><%= support_form.message %></td>
      <td><%= link_to "edit", edit_support_form_path(support_form) %></td>
      <td><%= link_to "delete", support_form, method: :delete, data: {confirm: "Delete support request?"} %><td>
    </tr>
  <% end %>
</table>

</ul>